.reset-password {
    margin: 0%;
    padding: 0%;

}


.div-emailwhitoutregister {
    display: none;
    color: #ff6961;
    font-weight: bold;
    padding: 1% 22%;
    margin: -5%;
}

.form-forget-password {
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-input {
    background: transparent;
    border: 3px;
    height: 60px;
    color: rgb(250, 250, 250) !important;
    border: 5px solid transparent;
    background: #00bcb4;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 100%;
    font-size: medium;
}

.reset-button {
    background: transparent;
    background: #00bcb4;
    /* border: 5px solid transparent; */
    border: 3px;
    font-size: medium;
    border-radius: 40px;
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #067470;
    font-weight: bold;
    width: 80%;
    height: 60px;
    box-shadow: 1px 1px black;
    box-shadow: black;
    box-shadow: 2px 2px 5px #999;
    margin: 0% 10%;
    cursor: pointer;
}

.text-form-forget-password {
    font-size: large;
    line-height: 30px;
    margin-top: 5%;
}



@media only screen and (min-width: 1170px) {


    #reset-password {
        /* display: grid;*/
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "view-desktop form-forget-password"
            "view-desktop form-forget-password"
            "view-desktop form-forget-password";
        width: 100%;
        height: 100vh;
    }

    .logo-img-reset {
        width: 60%;
        margin-left: 21%;
    }

    .div-logo-reset {
        height: -20px;
    }



    .div-form-forget-password-href a {
        margin: 3% 0%;
        text-align: end;
        margin-top: 10%;
    }

    .reset-input {
        background: transparent;
        border: 3px;
        height: 60px;
        color: rgb(250, 250, 250) !important;
        border: 5px solid transparent;
        background: #00bcb4;
        border-radius: 40px;
        padding-left: 50px;
        padding-right: 50px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        text-align: center;
        font-size: medium;
        margin: 8% 0%;
    }

    .reset-input:hover, .reset-input:focus {
        background: #00bcb3c2;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #215e5b4b;
    }

    .reset-input::placeholder {
        color: white;
    }

    .information-reset {
        width: 30%;
        line-height: 25px;
        text-align: justify;
    }

    .href-create-account {
        padding-right: 10%;
    }
}

@media only screen and (max-width: 600px) {

    .div-logo-reset {
        background-color: #689F38;
        height: 40%;
    }

    .logo-img-reset {
        width: 100%;
    }


    .div-form-forget-password {
        margin: 10% 0%;
    }

    .reset-input::placeholder {
        font-size: medium;
        color: rgb(252, 248, 248);
    }

    .reset-input:hover, .reset-input:focus {
        background: #00bcb3c2;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #215e5b4b;
    }

}

.div-form-forget-password-href {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.div-form-forget-password-href a {
    font-size: medium;
    font-weight: bold;
}