<!--<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ScoobyGram</title>
  <link rel="shortcut icon" class="logo" href="../src/images/logos/favicon.png">
  <link rel="stylesheet" href="../css/userProfile.css">

  <div id='header' class='header'></div>
</head>

<body>
  <br>
  <article class="container-father">
    <figure class="container-img-profile">
      <img class="img-profile" src="../images/icons/img_predeterminada.png">
    </figure>
   
   <section class="chage-profile">
    <p class="photo-change"> Cambiar foto de perfil</p>

    <span class="span-profile">email</span>

   </section>
   

    <section class="container-info-user">
      <div>
        <label class="info-user"> Nombre
          <input class="name-profile " placeholder="¡aqui el nombre que tenemos en la base de datos!" />
        </label>
      </div>
      <div>
        <label class="info-user"> Nombre de usuario
          <input type="text" class="name-profile" />
        </label>
      </div>
      <div>
        <label class="info-user"> nombre de tu mascota
          <input type="text" class="name-profile" />
        </label>
      </div>
      <div>
        <label class="info-user">Descripción de tu mascota
  
          <textarea class="text-tarea" maxlength="300" placeholder="¡cuéntanos cómo es tu engreido!"></textarea>
        </label>
      </div>
      
    </section>
    <br>
    <button class="button-save">Guardar</button>


  </article>



  <main id='main' class='main'></main>
  </section>
  <script type="module" src="main.js"></script>
</body>

</html>-->