.wall {
    display: grid; 
    grid-template-columns: 0.2fr 1.5fr 1.2fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "menu wall-area utils"
        "menu wall-area utils"
        "menu wall-area utils";
    overflow: hidden;
     
}

.wall-area { 
    padding-left: 5%;
    border-bottom: 1px solid transparent;
    border-color: rgba(0, 92, 128, 0.411);
    padding-top: 10px;
 }
.user-photo-wall {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5%;
}
.user-photo-wall img{
    width: 100%;
    height: 100%;
}

.user-descript{
    display: flex;
    align-items: center;
    margin-bottom: 6%;

}

.btns-share{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fa-image{
    color: #FFB547;
    font-size: 30px;
    size: 100%;
    padding-left: 1%;
    cursor: pointer;
}

.div-user-name-wall p{
    color: #FFB547;
    font-size: larger;
    font-weight: bold;
}

.btn-share-publication{
    background: #00BCB4;
    color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    margin-right: 16%;
    cursor: pointer;
}

.text-area-publication,
.edit-text-area{
    border: transparent;
    color: gray;
    width: auto;
    background-color: transparent;
    outline: none;
}

.edit-text-area {
    padding: 5%;
}


.btns-posts{
    display: flex;
    margin-bottom: 3%;
    align-items: center;
    justify-content: space-between;

}

.modal > img{
    height: 60%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34%;
}

.modal-container,
.modal-container-edit{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);    
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta {
    display: inline-block;
    padding: 7px 0;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: #fff;
}
.modal,
.div-modal-edit{
    width: 40%;
    height: 60%;
    background: #fff;
    /*overflow: hidden;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 3s;
    transform: translateY(0%);
    border-radius: 10px;
}

.modal-close,
.modal-close-edit{
    /*transform: translateY(-200%);*/
}

.close,
.close-edit{
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 100%;
    height: 30px;
    background: #00BCB4;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
    /* border-radius: 5px; */
    text-align: end;
    padding-right: 10px;
    border-radius: 10px 10px 0 0;
}

.text-confirmation{
    margin-bottom: 10px;
    margin-top: 40px;
}

.modal > button,
.div-modal-edit > button{
    width: 20%;
    height: 25px;
    margin-left: 42%;
    border-radius: 10px;
    border: 2px solid #FFB547;
    background: FFB547;
    background-color: #FFB547;
    color: white;
    font-size: medium;
    line-height: 10px;
    font-weight: bold;
}

.publication-area{
    border: 2px;
    border-right: 1px solid rgba(0, 92, 128, 0.41);
}

.instant-post{
    margin-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid rgba(0, 92, 128, 0.41);
}

.contact-data{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.data-post{
    
    padding-left: 15%;
    padding-bottom: 5%;
}

.data-name{
    font-weight: bold;
    color: #FFB547;
}

.area-likes{
    display: flex;
    flex-direction: row;
}

.like{
    margin-right: 23%;
}

.user-buttons{
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.user-buttons div {
    margin-left: 4%;
}

.save-post{
    cursor: pointer;
}

.fa-solid{
    cursor: pointer;
}

